<!-- <div>Select your Destination:</div>
<form id="select_location">
  <%# select_tag(:location_label, options_for_select(@all_locations)) %>
  <button id="select_location">Set Location</button>
</form> -->

<div>Select your Destination:</div>
<form id="select_location">
<select name="destination">
  <% all_locations.each do |location| %>
  <option value="<%= [location[1],location[2]] %>"><%= location[0] %></option>
  <% end %>
  <input type="submit" value="Set Destination">
  </select>
</form>
