<header>
<h1>Station Location</h1>
  <nav>
    <ul>
    <% if signed_in? %>
      <li><%= link_to current_user.email, current_user %></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_session_path %></li>
    <% end %>
    </ul>
  </nav>
</header>

<% if session[:user_id] != nil %>

<div id="set_route">Select your Route:</div>
  <form id="set_route">
  <%= select_tag(:route_id, options_for_select(["Routes", "1"])) %>
  <button id="set_route">Set Route</button>
  </form>


<div id="bus_form">

</div>

<% end %>


<div id="map"></div>

 <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDooIF08mMEEguEYandpeyRUdDwDaMNgh8&callback=initMap">
</script>

