html, body {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  padding: 0px;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0d122b;
  color: #fff;
}

#map {
  display: inline-block;
  vertical-align: top;
  height: 75%;
  width: 75%;
  margin-right: 25px;
  float: right;
}

.arrived {
  color: red;
}

.form {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 22%;
  margin-top: 30px;
}

h1 {
  text-align: center;
}

nav {
  text-align: right;
  margin-right: 25px;
  float: right;
}

nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0px 2px 0px 2px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  color: #293f50;
  background-color: #fff;
  font-weight: bold;
}

#phone {
  display: none;
}
select {
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type=submit] {
    margin-top: 10px;
    padding: 3px 15px;
    background:#ccc;
    border:0 none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    height: 25px;
    font-family: Tahoma, Geneva, sans-serif;
}

#login {
  padding-top: 50px;
}

.login {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.login input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#register {
  padding-top: 50px;
}

.register {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 450px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.register input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
  #map {
    height: 50%;
    width: 50%;
  }

  .form {
  width: 10%;
}

select {
    width: 125px;
}
}
