header {
  padding: 50px;
}
html, body {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  padding: 0px;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0d122b;
  color: #fff;
}

.title img {
  display: inline-block;
  vertical-align: top;
  margin-top: -15px;
}
.title h1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

main {
  display: inline-block;
  margin-top: 35px;
  float:left;
}
  /*width: 25%;*/

/*#route {
  margin-bottom: 5px;
}*/
/*
#route_form {
  margin-top: 10px;
  margin-bottom: 5px;
}*/

/*#bus_form {
  margin-top: 5px;
  margin-bottom: 5px;
}*/

#stop_form {
  margin-top: 5px;
}

.btn{
  margin-top: 20px;
  border-radius: 10px;
  display: inline-block;
}

#map {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  float: right;
  height: 75%;
  width: 65%;
}

h1 {
  text-align: center;
}

nav {
  vertical-align: top;
  text-align: right;
  float: right;
}

nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0px 2px 0px 2px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  color: #293f50;
  background-color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#phone {
  display: none;
}
select {
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555; /*Davy's gray not my fav*/
    font-size: inherit;
 /*   margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
}

input[type=submit] {
    margin-top: 10px;
    padding: 3px 15px;
    background: #ccc;
    border:0 none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    height: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
}


#login {
  padding-top: 50px;
}

.login {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.login input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#register {
  padding-top: 50px;
}

.register {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 450px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.register input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.col-sm-4 {
  color: #000;
  font-weight: bold;
}
.control-label {
  color: white;
}

@media (max-width: 720px) {
  #map {
    margin-top: 30px;
    height: 50%;
    width: 95%;
    float: none;
    display: block;
    vertical-align: none;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
  
/*  .form {
  width: 100%;
  }*/
  main {
    width: 100%;
    float: none;
    display: block;
  }

  input {
    width: 100%;
  }

  select {
    width: 400px;
  }
}

@media only screen and (max-device-width: 650px) {
  #map {
    width: 98%;
    height: 50%;
    display: inline-block;
    text-align: center;
  }
}

/*.form {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 20%;
  margin-top: 30px;
}*/

/*#select_direction, #set_route, #set_destination {
  margin-left: 0px;
  border-radius: 3px;
  display: inline-block;
}*/
