<div>Select your Destination:</div>
<form >
  <div class="form-roup form-group-lg">
    <select class="form-control" id="select_location" name="destination">
      <% all_locations.each do |location| %>
      <option class=" selectpicker" value="<%= [location[1], location[2]] %>"><%= location[0] %></option>
      <% end %>
    </select>
    <button class="btn btn-default btn-lg" id='set_destination' type="submit">Set Destination</button>
  </div>
</form>

